<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/mygrxx.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/ajax.js"></script>
		<script type="text/javascript" src="js/comp.js"></script>
		<script type="text/javascript">
		function upload(){
			var url = "/S2-plhy-jiaju/uploadImg";
			//ajax文件上传必须使用Formdate对象，用于封装表单对象
			var param = new FormData(headimg);
			post(url,param,function(text){
				alert(text);
				href="mygrxx.html"
				//将服务器的绝对路径为浏览器的绝对路径
				//head.src="/C86-S2-Ppk-jiaju"+text;
			});
		}
		</script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav1.jpg"/></dt>
										<dd>浓情欧式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav2.jpg"/></dt>
										<dd>浪漫美式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav3.jpg"/></dt>
										<dd>雅致中式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav6.jpg"/></dt>
										<dd>简约现代</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav7.jpg"/></dt>
										<dd>创意装饰</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html">装饰摆件</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="proList.html">干花花艺</a>
								<a href="vase_proList.html">花瓶花器</a>
							</div>
						</div>
					</li>
					<li>
						<a href="decoration.html">布艺软饰</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="zbproList.html">桌布罩件</a>
								<a href="bzproList.html">抱枕靠垫</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html">墙式壁挂</a></li>
					<li><a href="perfume.html">蜡艺香薰</a></li>
					<li><a href="idea.html">创意家居</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html" class="on">个人信息</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#" v-if="loginedUser != ''"><img style="height: 92px;width: 92px" :src="loginedUser.head" align="middle"/></a>
						<p class="clearfix"><a href="mygxin.html" class="fl" v-if="loginedUser == ''"><img src="img/tx.png"/></a>
						<span class="fl" v-if="loginedUser != ''">{{loginedUser.uname}}</span>
						<span class="fr" v-if="loginedUser != ''" @click="logout">退出登录</span></p>
						<span v-if="loginedUser == ''"><a href="login.html" id="login" >[点击登录]</a></span>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="cart.html">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li  class="on"><a href="mygrxx.html">个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>个人信息</h2>
					<div class="gxin">
						<div class="tx"><a href="#" v-if="loginedUser != ''"><img style="height: 92px;width: 92px" :src="loginedUser.head" align="middle"/><p id="avatar"  >修改头像</p></a>
						
						<a href="#" v-if="loginedUser == ''"><img src="img/tx.png" align="middle"/><p>请先登录</p></a>
						</div>
						
						<div class="xx">
							<h3 class="clearfix"><strong class="fl">基础资料</strong><a href="#" class="fr" id="edit1">编辑</a></h3>
							<div>姓名：{{loginedUser.uname}}</div>
							<div>生日：{{loginedUser.birth}}</div>
							<div>性别：{{loginedUser.sex}}</div>
							<h3>高级设置</h3>
							<!--<div><span class="fl">银行卡</span><a href="#" class="fr">管理</a></div>-->
							<div><span class="fl">账号地区：中国</span></div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		
		<!--遮罩-->
		<div class="mask"></div>
		<!--编辑弹框-->
		<div class="bj">
			<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
			<h3>编辑基础资料</h3>
			
			<form action="#" method="post">
				<p><label>姓名：</label><input v-model="uname" type="text"  placeholder="(不得超过4个字符)" /></p>
				<p><label>生日：</label><input v-model="birth" type="date"  placeholder="格式：1999-09-08" /></p>
				<p>
					<label>性别：</label>
					<span><input name="sex" type="radio" v-model="sex" value="男" />男</span>
					<span><input name="sex" type="radio" v-model="sex" value="女"  />女</span>
				</p>
				<div class="bc">
					<input type="button" value="保存" @click="save"/>
					<input type="button" value="取消"  />
					
				</div>
			</form>
		</div>
		<!--高级设置修改-->
		<div class="xg">
			<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
			<h3>切换账号地区</h3>
			<form action="#" method="get">
				<p><label>姓名：</label><input type="text"  value="六六六" /></p>
				<div class="bc">
					<input type="button" value="保存" />
					<input type="button" value="取消" />
				</div>
			</form>
		</div>
		
		<!--修改头像-->
		<div class="avatar" >
			<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
			<h3>修改头像</h3>
			<form action="#" method="post" id="headimg">
				<h4>请上传图片</h4>
				<input id="file1" type="file" name="file"><br>
				<p>jpg或png，大小不超过2M</p>
				<input type="button" value="提交" onclick="upload()" />
			</form>
		</div>
		
		<script type="text/javascript">
		var vue1 = new Vue({
			el : ".Bott",
			data : {
				loginedUser : {},
			},
			//事件钩子函数 ，当创建好vue1对象之后，立即执行的代码
			created : function(){
				
				var url = "LoginfileServlet?op=GetLoginedUser";
				$.post(url,null,function(data){
					if(data != "null"){
						vue1.$data.loginedUser = JSON.parse(data);
						console.info(vue1.$data.loginedUser.birth);
					}else{
						vue1.$data.loginedUser = "";
					}
				});
			},
			methods : {
				logout(){
					axios({
						url : "LoginfileServlet?op=Loginout",
					}).then((res)=>{
						if(res.data=="退出登录成功"){
							location.href = "index.html";
						}
					});
				}
			}
		});
		
		var vue = new Vue({
			el : ".bj",
			data : {
				uname : "",
				birth : "",
				sex : "",
			},
			methods : {
				save(){
					axios({
						url : "LoginfileServlet?op=Mupdate",
						params : {
							uname : this.uname,
							birth : this.birth,
							sex : this.sex,
						}
					}).then((res)=>{
						alert(res.data);
						if(res.data=="修改成功"){
							location.href = "mygrxx.html";
						}
					});
				}
			}
		});
		
		
		
		
		</script>
		
		<!--返回顶部-->
		
		<!--footer-->
		<div id="oot">
			<page-gotop></page-gotop>
		</div>
		<div id="ot">
			<page-footer></page-footer>
		</div>
		<script type="text/javascript">
			new Vue({el:"#oot"});
			new Vue({el:"#ot"});
		</script>
		
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
