<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情页</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css"/>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		
		<style type="text/css">
			 input[type="number"]{
  				   -moz-appearance:textfield;
			 }
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			    -webkit-appearance: none;
			    appearance: none; 
			    margin: 0; 
			} 
		</style>
		<script type="text/javascript">
		
		function aa(){
			$(".proIntro .smallImg p img").hover(function(){
				$(this).parents(".smallImg").find("span").remove();
				var lf = $(this).position().left;
				var con = $(this).attr("alt");
				$(this).parent("p").addClass('on');
				$(this).parents(".smallImg").append('<span>'+con+'</span>');
				$(".smallImg").find("span").css("left",lf);
			},function(){
				$(this).parents(".smallImg").find("span").remove();
				$(this).parent("p").removeClass('on');
			});
			$(".proIntro .smallImg img").click(function(){
				var offset = $(this).attr("data-src");
				//小弹框和详情页图片大小不一样
				$(this).parents(".proCon").find('.proImg').children(".det").attr("src",offset).css({'width':'580px','height':'580px'});
				$(this).parents(".proCon").find('.proImg').children(".list").attr("src",offset).css({'width':'360px','height':'360px'});
				$(this).parents(".smallImg").find("span").remove();
				$(this).parent("p").addClass('on').siblings().removeClass('on');
				//移除鼠标离开事件
				$(this).off("mouseleave").parent('p').siblings().find('img').on('mouseleave',function(){
					$(this).parents(".smallImg").find("span").remove();
					$(this).parent("p").removeClass('on');
				})
			});
		}
		
		</script>
	</head>
	<body >
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<span v-if="loginedUser != ''" style="font-size: 14px">欢迎{{loginedUser.uname}}</span>
							<span v-else><a href="login.html" id="login" >登录</a></span>
							<a href="reg.html" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					var vue3=new Vue({
						el:"#top",
						data:{
							sname:"",
							loginedUser : {}
						},created:function(){
							var url = "LoginfileServlet?op=GetLoginedUser";
							$.post(url,null,function(data){
								if(data != "null"){
								vue3.$data.loginedUser = JSON.parse(data);
								//console.info(vue1.$data.loginedUser);
								}else{
									vue3.$data.loginedUser = "";
								}
							});
						},
						methods:{
							goto1(){
								sname=this.sname;
								location.href="search.html?"+sname;
							}
						}
					});
				</script>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav1.jpg"/></dt>
										<dd>浓情欧式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav2.jpg"/></dt>
										<dd>浪漫美式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav3.jpg"/></dt>
										<dd>雅致中式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav6.jpg"/></dt>
										<dd>简约现代</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav7.jpg"/></dt>
										<dd>创意装饰</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html">装饰摆件</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="proList.html">干花花艺</a>
								<a href="vase_proList.html">花瓶花器</a>
							</div>
						</div>
					</li>
					<li>
						<a href="decoration.html">布艺软饰</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="zbproList.html">桌布罩件</a>
								<a href="bzproList.html">抱枕靠垫</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html">墙式壁挂</a></li>
					<li><a href="perfume.html">蜡艺香薰</a></li>
					<li><a href="idea.html">创意家居</a></li>
				</ul>
			</div>
		</div>
		<!-----------------address------------------------------->
		
		<!-----------------------Detail------------------------------>
		<div class="detCon">
			<div class="proDet wrapper">
				<div class="proCon clearfix">
					<div class="proImg fl">
						<img class="det" :src="p.image"/>
						
					</div>
					<div class="fr intro">
						<div class="title">
							<h4>{{p.pname}}</h4>
							<p>  {{p.pdesc}}</p>
							<span>￥{{p.price}}</span>
						</div>
						<div class="proIntro">
							<p>颜色分类</p>
							<div class="smallImg clearfix categ">
								<p class="fl " v-for="(h,index) in list" onmouseover="aa()" @click="change(index)"  :class="index==0?['on']:null"><img :src="h.image" :alt="h.style" :data-src="h.image"></p>
								
							</div>
							<p>数量&nbsp;&nbsp;库存<span>{{p.stock}}</span>件</p>
							<div class="num clearfix">
								<img class="fl " src="img/temp/sub.jpg" @click="sub">
								<input class="fl" contentEditable="true" v-model="count" type="number"  style="width:30px;text-align: center;height: 30px">
								<img class="fl " src="img/temp/add.jpg" @click="add">
								<p class="please fl">请选择商品属性!</p>
							</div>
						</div>
						<div class="btns clearfix">
							<a  @click="gotopay()"><p class="buy fl">立即购买</p></a>
							<a :href="'#'+sid" @click="intocart"><p class="cart fr">加入购物车</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function product() {
				this.pname=null;
				this.price=null;
				this.psesc=null;
				this.hot=null;
				this.stock=null;
				this.image=null;
			}
			var vue = new Vue({
				el:".detCon",
				data:{
					list:[],
					p:new product(),
					count:1,
					sid:''
				},
				created:function(){
					var sid=location.hash.substring(1);
					this.sid=sid;
					axios({
						url:"DetailServlet.do",
						params:{
							op:'detail',
							sid:sid
						}
					}).then((res)=>{
						this.list=res.data.list;
						this.p=this.list[0];
						vue1.$data.p=this.p;
					});
					
					
				},
				methods:{
					change(index){
						this.p=this.list[index];
						vue1.$data.p=this.p;
						//console.info(this.list[index]);
						//console.info(this.p.pname);
					},
					intocart(){
						axios({
							url:"CartServlet.do",
							params:{
								op:'insertcart',
								pid:this.p.pid,
								count:this.count
							}
						}).then((res)=>{
							alert(res.data);
						});
					},
					gotopay(){
						axios({
							url:"CartServlet.do",
							params:{
								op:'user'
							}
						}).then((res)=>{
							if(res.data=="请先登录"){
								alert(res.data);
							}else{
								location.href='order.html?pid='+this.p.pid+'&method=2&count='+this.count;
							}
						});
						
					}
					,
					sub(){
						this.count-=1
					},
					add(){
						this.count++;
					}
				}
			});
			
						
		</script>
		
		
		<div class="introMsg wrapper clearfix">
			<div class="msgL fl">
				<div class="msgTit clearfix">
					<a class="on">商品详情</a>
					<a>所有评价</a>
				</div>
				<div class="msgAll">
					<div class="msgImgs detCon" >
						<img :src="p.image" style="width: 900px;height: 900px;">
					</div>
					<div class="eva" id="xin">
						<!-- <div class="per clearfix">
							<img class="fl" src="img/temp/per01.jpg">
							<div class="perR fl">
								<p>馨***呀</p>
								<p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
								<div class="clearfix">
									<p><img src="img/temp/eva01.jpg"></p>
									<p><img src="img/temp/eva02.jpg"></p>
									<p><img src="img/temp/eva03.jpg"></p>
									<p><img src="img/temp/eva04.jpg"></p>
									<p><img src="img/temp/eva05.jpg"></p>
								</div>
								<p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
							</div>
						</div> -->
						<div class="per clearfix" v-for="(e,index) in liste">
							<img class="fl" :src="e.head" style="width: 40px;height: 40px;">
							<div class="perR fl">
								<div class="clearfix" :class="'ii'+index">
									<a ><img src="img/hxin.png"/></a>
									<a ><img src="img/hxin.png"/></a>
									<a ><img src="img/hxin.png"/></a>
									<a ><img src="img/hxin.png"/></a>
									<a ><img src="img/hxin.png"/></a>
								</div>
								<p>{{e.uname}}</p>
								<p>{{e.content}}</p>
								<p><span>{{e.createtime}}</span><span>颜色分类：{{e.style}}</span><button @click="zan(e.eid)">
								<img v-if="e.iszan==0" src="img/zan.png" style="width: 20px;height: 20px;float: right;">
								<img v-else=""  src="img/zan1.png" style="width: 20px;height: 20px;float: right;">
								</button><a>{{e.cnt}}</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			var vue1 = new Vue({
				el:'.msgL',
				data:{
					liste:[],
					p:{}
				},
				created:function(){
					
					var sid=location.hash.substring(1);
					axios({
						url:"EvaServlet.do",
						params:{
							op:'queryByPid',
							sid:sid
						}
					}).then((res)=>{
						this.liste=res.data.list;
						setTimeout(function(){
							for (var i = 0; i < res.data.list.length; i++) {
								var index = res.data.list[i].star-1;
								for(var j = 0; j<5;j++){
									if(j<=index){
										$('.ii'+i).find("a").eq(j).find("img").attr("src","img/hxin.png");
									}
									else{
										$('.ii'+i).find("a").eq(j).find("img").attr("src","img/xin.png");
									}
								}
							}
						},500);
						
					});
					
				},methods:{
					 zan(eid){
						 axios({
							url:"ZanServlet.do",
							params:{
								op:'addzan',
								eid:eid
							}
						}).then((res)=>{
							if(res.data=="请先登录"){
								alert(res.data);
							}else{
								this.zancnt=res.data.cnt;
								for (let e of this.liste) {
									if(e.eid==eid){
										e.cnt=res.data.cnt;
										e.iszan=res.data.iszan;
									}
								}
							}
						});
					}
				}
			});
			</script>
			<div class="msgR fr">
				<h4>为你推荐</h4>
				<div class="seeList">
					<a href="#">
						<dl>
							<dt><img src="img/temp/see01.jpg"></dt>
							<dd>【最家】复古文艺风玻璃花瓶</dd>
							<dd>￥193.20</dd>
						</dl>
					</a>
				</div>
				
			</div>
		</div>
		<div class="like">
			<h4>猜你喜欢</h4>
			<div class="bottom">
				<div class="hd">
					<span class="prev"><img src="img/temp/prev.png"></span>
					<span class="next"><img src="img/temp/next.png"></span>
				</div>
				<div class="imgCon bd">
					<div class="likeList clearfix">
						<div>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like01.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like02.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like03.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like04.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html" class="last">
								<dl>
									<dt><img src="img/temp/like05.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
						</div>
						<div>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like01.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like02.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like03.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html">
								<dl>
									<dt><img src="img/temp/like04.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
							<a href="proDetail.html" class="last">
								<dl>
									<dt><img src="img/temp/like05.jpg"></dt>
									<dd>【最家】复古文艺风玻璃花瓶</dd>
									<dd>￥193.20</dd>
								</dl>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl class="goCart">
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
				<span>1</span>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：188-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		
		<script type="text/javascript">
			jQuery(".bottom").slide({titCell:".hd ul",mainCell:".bd .likeList",autoPage:true,autoPlay:false,effect:"leftLoop",autoPlay:true,vis:1});
		</script>
	</body>
</html>
