<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/mygrxx.css" />
		<script type="text/javascript" src="js/ajax.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/comp.js"></script>
		<script type="text/javascript">
	
		
		</script>
	</head>
	<body >
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav1.jpg"/></dt>
										<dd>浓情欧式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav2.jpg"/></dt>
										<dd>浪漫美式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav3.jpg"/></dt>
										<dd>雅致中式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav6.jpg"/></dt>
										<dd>简约现代</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav7.jpg"/></dt>
										<dd>创意装饰</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html">装饰摆件</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="proList.html">干花花艺</a>
								<a href="vase_proList.html">花瓶花器</a>
							</div>
						</div>
					</li>
					<li>
						<a href="decoration.html">布艺软饰</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="zbproList.html">桌布罩件</a>
								<a href="bzproList.html">抱枕靠垫</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html">墙式壁挂</a></li>
					<li><a href="perfume.html">蜡艺香薰</a></li>
					<li><a href="idea.html">创意家居</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html" class="on">个人信息</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#" v-if="loginedUser != ''"><img style="height: 92px;width: 92px" :src="loginedUser.head" align="middle"/></a>
						<p class="clearfix"><a href="mygxin.html" class="fl" v-if="loginedUser == ''"><img src="img/tx.png"/></a>
						<span class="fl" v-if="loginedUser != ''">{{loginedUser.uname}}</span>
						<span class="fr" v-if="loginedUser != ''" @click="logout">退出登录</span></p>
						<span v-if="loginedUser == ''"><a href="login.html" id="login" >[点击登录]</a></span>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="cart.html">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="mygrxx.html">个人信息</a></li>
							<li  class="on"><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>修改密码</h2>
					<form action="#" method="get" class="remima">
						<p><span>选择验证身份方式：</span><input type="radio" name="methods" checked="checked" @click="change1"/>密码验证 
						 <input type="radio" name="methods"  @click="change2" />邮箱验证 </p>
						  <div id="mmyz" v-show="win">
							<p><span>原密码：</span><input type="text" v-model="pass" style="" value="" /></p>
							<p class="op">输入原密码</p>
							<p><span>新密码：</span><input type="text" v-model="npass" value="" /></p>
							<p class="op">6-16 个字符</p>
							<p><span>重复新密码：</span><input type="text" v-model="rpass" value="" /></p>
							<p class="op">请再次输入密码</p>
							<p><span>验证码：</span><input type="text" v-model="vcode" /><img style="height: 27px" src="vcodeServlet" alt="" 
							onclick="this.src='vcodeServlet?a=' + new Date()"/></p>
							<p class="op">按右图输入验证码，区分大小写</p>
							<button @click="save" style="width: 120px;height: 50px;text-align: center;">确定</button>
						</div> 
						 <div id="yxyz" v-show="!win">
							<p><span>邮箱：</span><input type="text" v-model="email" style="" value="" />
							<button @click="send" style="height: 30px">发送验证码</button></p>
							<p class="op">输入邮箱</p>
							<p><span>验证码：</span><input type="text" v-model="vcode" /></p>
							<p class="op">请输入验证码</p>
							<p><span>新密码：</span><input type="text" v-model="npass" value=""  /></p>
							<p class="op">6-16 个字符</p>
							<p><span>重复新密码：</span><input type="text" v-model="rpass" value="" /></p>
							<p class="op">请再次输入密码</p>
							<button @click="save1" style="width: 120px;height: 50px;text-align:center">确定</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
		var vue1 = new Vue({
			el : ".Bott",
			data : {
				loginedUser : {},
				pass : "",
				npass : "",
				rpass : "",
				vcode : "",
				email : "",
				win : true,
			},
			//事件钩子函数 ，当创建好vue1对象之后，立即执行的代码
			created : function(){
				
				var url = "LoginfileServlet?op=GetLoginedUser";
				$.post(url,null,function(data){
					if(data != "null"){
						vue1.$data.loginedUser = JSON.parse(data);
						console.info(vue1.$data.loginedUser.birth);
					}else{
						vue1.$data.loginedUser = "";
					}
				});
			},
			methods : {
				logout(){
					axios({
						url : "LoginfileServlet?op=Loginout",
					}).then((res)=>{
						if(res.data=="退出登录成功"){
							location.href = "index.html";
						}
					});
				},
				save(){
					axios({
						url : "LoginfileServlet?op=RCheckpwd",
						params : {
							pass : this.pass,
							npass : this.npass,
							rpass : this.rpass,
							vcode : this.vcode,
						}
					}).then((res)=>{
						alert(res.data);
						if(res.data=="密码修改成功"){
							location.href = "mygrxx.html";
						}
					});
				},
				send(){
					axios({
						url : "LoginfileServlet?op=Remail",
						params : {
							email : this.email,
						}
					}).then((res)=>{
						alert(res.data);
					});
				},
				save1(){
					axios({
						url : "LoginfileServlet?op=Remailpwd",
						params : {
							email : this.email,
							npass : this.npass,
							rpass : this.rpass,
							vcode : this.vcode,
						}
					}).then((res)=>{
						alert(res.data);
						if(res.data=="密码修改成功"){
							location.href = "mygrxx.html";
						}
					});
				},
				change1(){
					this.win=true;
				},
				change2(){
					this.win=false;
				}
			}
		});
		
		
		</script>
		
		
		
		<!--返回顶部-->
		
		<!--footer-->
		<div id="oot">
			<page-gotop></page-gotop>
		</div>
		<div id="ot">
			<page-footer></page-footer>
		</div>
		<script type="text/javascript">
			new Vue({el:"#oot"});
			new Vue({el:"#ot"});
		</script>
		
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
