<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>搜索</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css"/>
		<script type="text/javascript"src="js/vue.min.js"></script>
		<script type="text/javascript"src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/comp.js"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div id="app">
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input v-model="sname" type="text" placeholder="搜索" />
							<input @click="search()" type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav1.jpg"/></dt>
										<dd>浓情欧式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav2.jpg"/></dt>
										<dd>浪漫美式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav3.jpg"/></dt>
										<dd>雅致中式</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav6.jpg"/></dt>
										<dd>简约现代</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="img/nav7.jpg"/></dt>
										<dd>创意装饰</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html">装饰摆件</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="proList.html">干花花艺</a>
								<a href="vase_proList.html">花瓶花器</a>
							</div>
						</div>
					</li>
					<li>
						<a href="decoration.html">布艺软饰</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="zbproList.html">桌布罩件</a>
								<a href="bzproList.html">抱枕靠垫</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html">墙式壁挂</a></li>
					<li><a href="perfume.html">蜡艺香薰</a></li>
					<li><a href="idea.html">创意家居</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------搜索列表------------------------------>
		<div class="schBox">
			<ul class="wrapper sch">
				<li>
					<h4>干花类型：</h4>
					<a href="#">干花枝</a>
					<a href="#">干花包</a>
					<a href="#">花瓣</a>
					<a href="#">树叶</a>
				</li>
				<li>
					<h4>摆放空间：</h4>
					<a href="#">摆放花卉</a>
					<a href="#">落地花卉</a>
					<a href="#">挂壁花卉</a>
					<a href="#">吊篮花卉</a>
				</li>
				<li>
					<h4>干花类型：</h4>
					<a href="#">干花枝</a>
					<a href="#">干花包</a>
					<a href="#">花瓣</a>
					<a href="#">树叶</a>
				</li>
				<li>
					<h4>适用对象：</h4>
					<a href="#">朋友/同事</a>
					<a href="#">客户</a>
					<a href="#">爱人</a>
					<a href="#">领导/长辈</a>
				</li>
				<li>
					<h4>家居饰品：</h4>
					<a href="#">干花/干枝/花瓣</a>
					<a href="#">仿真花卉</a>
					<a href="#">花瓶</a>
					<a href="#">窗型花器</a>
				</li>
				<li>
					<h4>您是不是想找：</h4>
					<a href="#">干花花束</a>
					<a href="#">满天星干花</a>
					<a href="#">干花真花</a>
					<a href="#">干花花瓶</a>
					<a href="#">干花批发</a>
				</li>
			</ul>
		</div>
		<!-----------------address------------------------------->
		
		<div class="address">
			<div class="wrapper clearfix">
				<a href="index.html">首页</a>
				<span>/</span>
				<a class="on">搜索:{{sname}}</a>
			</div>
		</div>
		<!-------------------current---------------------->
		
		<div class="current">
			<div class="wrapper clearfix">
				<h3 class="fl">搜索结果:{{sname}}</h3> 
				<div class="fr choice">
					<p class="default">排序方式</p>
					<ul class="select">
						<li @click="sortbycreatetime()">新品上市</li>
						<li @click="sortbyPriceDesc()">价格从高到低</li>
						<li @click="sortbyPriceAsc()">价格从低到高</li>
					</ul>
				</div>
			</div>
		</div>
		<!----------------proList------------------------->
		<ul class="proList wrapper clearfix">
			<li v-for="s in searchList">
				<a href="proDetail.html">
					<dl>
						<dt><img :src="s.image"></dt>
						<dd>{{s.sname}}</dd>
						<dd>￥{{s.price}}</dd>
					</dl>
				</a>
			</li>
		</ul>
	
</div>
		<script type="text/javascript">
			var vue=new Vue({
				el:"#app",
				data:{
					sname:"",
					searchList:[],
				},
				 created:function(){
					this.sname=decodeURI(location.search).substr(1);
					axios({
						url:"searchServlet.do",
						params:{
							op:"search",
							sname:this.sname
						}
					}).then((res)=>{
						console.info(res.data.list);
						this.searchList=res.data.list;
					});
				}, 
			 methods:{
					search(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"search",
								sname:this.sname
							}
						}).then((res)=>{
							this.searchList=res.data.list;
						});
					},
					sortbycreatetime(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"searchhtmlIsNew",
								sname:this.sname
							}
						}).then(res=>{
							this.searchList=res.data.list;
						})
					},
					sortbyHotDesc(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"searchhtmlSort",
								sname:this.sname,
								orderby:"desc",
								bywhat:"hot"
							}
						}).then(res=>{
							this.searchList=res.data.list;
						})
					},
					sortbyHotAsc(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"searchhtmlSort",
								sname:this.sname,
								orderby:"asc",
								bywhat:"hot"
							}
						}).then(res=>{
							this.searchList=res.data.list;
						})
					},
					sortbyPriceDesc(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"searchhtmlSort",
								sname:this.sname,
								orderby:"desc",
								bywhat:"a.price"
							}
						}).then(res=>{
							this.searchList=res.data.list;
						})
					},
					sortbyPriceAsc(){
						axios({
							url:"searchServlet.do",
							params:{
								op:"searchhtmlSort",
								sname:this.sname,
								orderby:"asc",
								bywhat:"a.price"
							}
						}).then(res=>{
							this.searchList=res.data.list;
						})
					}
				} 
			});
		</script>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!-------------------mask内容------------------->
		<div class="proDets">
			<img class="off" src="img/temp/off.jpg" />
			<div class="tit clearfix">
				<h4 class="fl">【最家】非洲菊仿真花干花</h4>
				<span class="fr">￥17.90</span>
			</div>
			<div class="proCon clearfix">
				<div class="proImg fl">
					<img class="list" src="img/temp/proDet.jpg"  />
					<div class="smallImg clearfix">
						<img src="img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">
						<img src="img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">
						<img src="img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">
						<img src="img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">
					</div>
				</div>
				<div class="fr">
					<div class="proIntro">
						<p>颜色分类</p>
						<div class="smallImg clearfix categ">
							<p class="fl"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-src="img/temp/proBig01.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草" data-src="img/temp/proBig02.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>
						</div>
						<p>数量</p>
						<div class="num clearfix">
							<img class="fl sub" src="img/temp/sub.jpg">
							<span class="fl" contentEditable="true">1</span>
							<img class="fl add" src="img/temp/add.jpg">
							<p class="please fl">请选择商品属性!</p>
						</div>
					</div>
					<div class="btns clearfix">
						<a href="#2"><p class="buy fl">立即购买</p></a>
						<a href="#2"><p class="cart fr">加入购物车</p></a>
					</div>
				</div>
			</div>
			<a class="more" href="proDetail.html">查看更多细节</a>
		</div>
		<!--返回顶部-->
		
		<div class="msk"></div>
		<!--footer-->
		<div id="oot">
			<page-gotop></page-gotop>
		</div>
		<div id="ot">
			<page-footer></page-footer>
		</div>
		<script type="text/javascript">
			new Vue({el:"#oot"});
			new Vue({el:"#ot"});
		</script>
		
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
